---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const blogCollection: CollectionEntry<"blogs">[] =
    await getCollection("blogs");
  return blogCollection.map((entry) => ({
    params: { slug: `pages/${entry.slug}` },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
import Layout from "../layouts/layout.astro";
---
<Layout title={entry.data.title}>

  <article>
    <header>
    <h1>{entry.data.title}</h1>
    <p><em>By {entry.data.author} on {entry.data.pubDate.toDateString()}</em></p>
    <div>
      {entry.data.description}
    </div>
    </header>
    <div>
      <Content />
    </div>
  </article>
</Layout>