---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { Clock, Calendar, UserPen } from "@lucide/astro";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  const blogCollection: CollectionEntry<"blogs">[] =
    await getCollection("blogs");
  return blogCollection.map((entry) => ({
    params: { slug: `pages/${entry.slug}` },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
import Layout from "../layouts/layout.astro";
import Badge from "@/components/ui/badge.astro";
---

<Layout title={entry.data.title}>
  <article>
    <header class="max-w-4xl mx-auto px-6 py-8 lg:py-12 border-b">
      <h1 class="mb-6">{entry.data.title}</h1>
      <div class="flex items-center gap-6 text-sm text-muted-foreground mb-8">
        <span class="flex items-center gap-2">
          <Calendar class="w-4 h-4" />
          {
            entry.data.pubDate.toLocaleDateString("en-US", {
              year: "numeric",
              month: "long",
              day: "numeric",
            })
          }
        </span>
        <span class="flex items-center gap-2">
          <Clock class="w-4 h-4" />
          2 min read
        </span>
        <span class="flex items-center gap-2">
          <UserPen class="w-4 h-4" /> By {entry.data.author}</span
        >
      </div>
      {
        entry.data.tags && (
          <div class="flex gap-2">
            {entry.data.tags.map((tag, index) => (
              <Badge
                variant={index % 2 !== 0 ? "secondary" : "outline"}
                size="sm"
              >
                {tag}
              </Badge>
            ))}
          </div>
        )
      }
    </header>
    {
      entry.data.image && (
        <div class="rounded-sm overflow-hidden mb-6">
          <Image
            src={entry.data.image}
            alt={entry.data.title}
            class="w-full aspect-video md:aspect-21/9 object-cover mx-auto"
          />
        </div>
      )
    }

    <div class="prose mx-auto py-6 md:py-8">
      <Content />
    </div>
  </article>
</Layout>
